<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Project</title>
</head>

<body>

    <h1>Add New Project</h1>

    <form method="POST" enctype="multipart/form-data">

        {% csrf_token %}

        <input type="text" name="title" placeholder="Project Title" required>
        <br><br>

        <textarea name="description" placeholder="Project Description"></textarea>
        <br><br>

        <input type="url" name="github" placeholder="GitHub Link">
        <br><br>

        <input type="url" name="demo" placeholder="Demo Link">
        <br><br>

        <input type="text" name="database" placeholder="Database">
        <br><br>

        <input type="text" name="backendtools" placeholder="Backend Tools">
        <br><br>

        <input type="text" name="html" placeholder="HTML">
        <br><br>

        <input type="text" name="css" placeholder="CSS">
        <br><br>

        <input type="text" name="js" placeholder="JavaScript">
        <br><br>

        <label>Project Image:</label>
        <input type="file" name="image">
        <br><br>

        <button type="submit">Add Project</button>

    </form>

</body>

</html>