/*==============================
        GOOGLE FONT
===============================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    background: #0f172a;
    color: #fff;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

/*==============================
        NAVBAR
===============================*/

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(15, 23, 42, .85);
    backdrop-filter: blur(12px);
}

.navbar {
    width: 90%;
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.logo a {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
}

.nav-links {
    display: flex;
    gap: 35px;
}

.nav-links a {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    transition: .3s;
}

.nav-links a:hover,
.nav-links .active {
    color: #38bdf8;
}

.btn {
    padding: 12px 28px;
    background: #38bdf8;
    color: #fff;
    border-radius: 50px;
    transition: .3s;
    font-weight: 600;
}

.btn:hover {
    background: #0ea5e9;
    transform: translateY(-3px);
}

.btn-outline {
    background: transparent;
    border: 2px solid #38bdf8;
}

.btn-outline:hover {
    background: #38bdf8;
}

.menu-btn {
    display: none;
    font-size: 28px;
    color: #fff;
    cursor: pointer;
}

/*==============================
        HERO
===============================*/

.hero {
    width: 100%;
    min-height: 100vh;

    background:
        linear-gradient(rgba(0, 0, 0, .6),
            rgba(0, 0, 0, .7)),
        url("images/bg.jpg");

    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    position: relative;
}

.hero-content {
    width: 90%;
    max-width: 800px;
}

.hero-content p:first-child {
    color: #38bdf8;
    font-size: 22px;
    margin-bottom: 10px;
}

.hero-content h1 {
    font-size: 65px;
    margin-bottom: 10px;
}

.hero-content h2 {
    font-size: 35px;
    color: #38bdf8;
    margin-bottom: 20px;
}

.hero-text {
    color: #ddd;
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 35px;
}

.hero-btn {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.scroll {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.scroll a {
    color: #fff;
    font-size: 32px;
    animation: bounce 1.5s infinite;
}

@keyframes bounce {

    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }

}

/*==============================
      RESPONSIVE
===============================*/

@media(max-width:992px) {

    .nav-links {

        position: absolute;

        top: 80px;

        left: -100%;

        width: 100%;

        background: #0f172a;

        flex-direction: column;

        text-align: center;

        padding: 40px 0;

        transition: .4s;

    }

    .nav-links.active {

        left: 0;

    }

    .menu-btn {

        display: block;

    }

    .navbar .btn {

        display: none;

    }

    .hero-content h1 {

        font-size: 48px;

    }

    .hero-content h2 {

        font-size: 28px;

    }

}

@media(max-width:768px) {

    .hero-content h1 {

        font-size: 40px;

    }

    .hero-content h2 {

        font-size: 24px;

    }

    .hero-text {

        font-size: 16px;

    }

}

@media(max-width:480px) {

    .logo a {

        font-size: 24px;

    }

    .hero-content h1 {

        font-size: 32px;

    }

    .hero-content h2 {

        font-size: 20px;

    }

    .hero-btn {

        flex-direction: column;

        align-items: center;

    }

    .btn {

        width: 220px;

        text-align: center;

    }

}

/* ====== next page about ko ====*/
/*====================================
          ABOUT SECTION
=====================================*/

.about {
    width: 100%;
    padding: 100px 10%;
    background: #111827;
}

.about .container {
    max-width: 1200px;
    margin: auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;

    align-items: center;
}

/* Left Side */

.about-image {
    display: flex;
    justify-content: center;
}

.about-image img {

    width: 400px;
    max-width: 100%;

    border-radius: 20px;

    border: 5px solid #38bdf8;

    box-shadow: 0 15px 35px rgba(0, 0, 0, .5);

    transition: .5s;

}

.about-image img:hover {

    transform: scale(1.05);

}

/* Right Side */

.about-content span {

    color: #38bdf8;

    font-size: 18px;

    font-weight: 600;

}

.about-content h2 {

    font-size: 42px;

    margin: 10px 0;

}

.about-content h3 {

    font-size: 26px;

    color: #38bdf8;

    margin-bottom: 20px;

}

.about-content p {

    color: #cbd5e1;

    line-height: 1.8;

    margin-bottom: 35px;

}

/* Skills */

.skill {

    margin-bottom: 25px;

}

.skill-title {

    display: flex;

    justify-content: space-between;

    margin-bottom: 8px;

    font-weight: 600;

}

.progress {

    width: 100%;

    height: 10px;

    background: #334155;

    border-radius: 50px;

    overflow: hidden;

}

.progress-bar {

    height: 100%;

    border-radius: 50px;

}

/* Individual Skill */

.html {

    width: 95%;

    background: #e44d26;

}

.css {

    width: 90%;

    background: #2965f1;

}

.js {

    width: 80%;

    background: #f7df1e;

}

.django {

    width: 75%;

    background: #0c4b33;

}

/* Button */

.about .btn {

    display: inline-block;

    margin-top: 20px;

}

/*====================================
        RESPONSIVE
=====================================*/

@media(max-width:992px) {

    .about .container {

        grid-template-columns: 1fr;

        text-align: center;

    }

    .about-image {

        margin-bottom: 30px;

    }

    .skill-title {

        font-size: 15px;

    }

}

@media(max-width:768px) {

    .about {

        padding: 80px 7%;

    }

    .about-content h2 {

        font-size: 34px;

    }

    .about-content h3 {

        font-size: 22px;

    }

    .about-content p {

        font-size: 15px;

    }

    .about-image img {

        width: 320px;

    }

}

@media(max-width:480px) {

    .about-content h2 {

        font-size: 28px;

    }

    .about-content h3 {

        font-size: 18px;

    }

    .about-content span {

        font-size: 16px;

    }

    .about-image img {

        width: 250px;

    }

    .about .btn {

        width: 100%;

        text-align: center;

    }

}

/*==================================
        PROJECT SECTION
===================================*/

.projects {
    width: 100%;
    padding: 100px 10%;
    background: #0f172a;
}

/* Section Heading */

.section-title {
    text-align: center;
    margin-bottom: 60px;
}

.section-title span {
    color: #38bdf8;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.section-title h2 {
    font-size: 42px;
    margin: 15px 0;
    color: #fff;
}

.section-title p {
    color: #cbd5e1;
    max-width: 700px;
    margin: auto;
    line-height: 1.8;
}

/* Project Grid */

.project-container {
    max-width: 1200px;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

/* Project Card */

.project-card {
    background: #1e293b;
    border-radius: 20px;
    overflow: hidden;
    transition: .4s;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .3);

}

.project-card:hover {
    transform: translateY(-12px);
    box-shadow: 0 20px 45px rgba(0, 0, 0, .5);
}

/* Image */

.project-card img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    transition: .5s;
    border-radius: 20px;
}

.project-card:hover img {
    transform: scale(1.08);
}

/* Content */

.project-content {
    padding: 25px;
}

.project-content h3 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #fff;
}

.project-content p {
    color: #cbd5e1;
    line-height: 1.7;
    margin-bottom: 20px;
}

/* Technology Tags */

.project-tech {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 25px;
}

.project-tech span {
    background: #38bdf8;
    color: #fff;
    padding: 8px 15px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 500;
}

/* Buttons */

.project-btn {
    display: flex;
    gap: 15px;
}

.project-btn .btn {
    flex: 1;
    text-align: center;
}

.project-btn .btn-outline {
    background: transparent;
    border: 2px solid #38bdf8;
}

.project-btn .btn-outline:hover {
    background: #38bdf8;
}

/*==========================
      RESPONSIVE
===========================*/

@media(max-width:992px) {

    .project-container {

        grid-template-columns: repeat(2, 1fr);

    }

}

@media(max-width:768px) {

    .projects {

        padding: 80px 7%;

    }

    .section-title h2 {

        font-size: 34px;

    }

    .project-container {

        grid-template-columns: 1fr;

    }

    .project-content h3 {

        font-size: 22px;

    }

}

@media(max-width:480px) {

    .section-title h2 {

        font-size: 28px;

    }

    .section-title p {

        font-size: 15px;

    }

    .project-card img {

        height: 200px;

    }

    .project-btn {

        flex-direction: column;

    }

    .project-btn .btn {

        width: 100%;

    }

}



/*==================================
        CONTACT SECTION
===================================*/

.contact {
    width: 100%;
    padding: 100px 10%;
    background: #111827;
}

.contact-container {
    max-width: 1200px;
    margin: 60px auto 0;

    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 50px;

    align-items: center;
}

/*=========================
      CONTACT INFO
==========================*/

.contact-info {
    background: #1e293b;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .25);
}

.contact-info h3 {
    font-size: 30px;
    margin-bottom: 15px;
    color: #fff;
}

.contact-info p {
    color: #cbd5e1;
    line-height: 1.8;
    margin-bottom: 30px;
}

.info-box {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 25px;
}

.info-box i {
    width: 60px;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #38bdf8;
    color: #fff;

    border-radius: 50%;
    font-size: 22px;

    transition: .3s;
}

.info-box:hover i {
    transform: rotate(360deg);
}

.info-box h4 {
    color: #fff;
    margin-bottom: 5px;
}

.info-box span {
    color: #cbd5e1;
}

/*=========================
      SOCIAL ICONS
==========================*/

.social-links {
    display: flex;
    gap: 15px;
    margin-top: 30px;
}

.social-links a {
    width: 45px;
    height: 45px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #38bdf8;
    color: #fff;

    border-radius: 50%;
    transition: .3s;
}

.social-links a:hover {
    background: #0ea5e9;
    transform: translateY(-5px);
}

/*=========================
      CONTACT FORM
==========================*/

.contact-form {
    background: #1e293b;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .25);
}

.input-group {
    margin-bottom: 20px;
}

.input-group input,
.input-group textarea {

    width: 100%;

    padding: 16px;

    border: none;

    outline: none;

    background: #334155;

    color: #fff;

    border-radius: 10px;

    font-size: 16px;

    transition: .3s;

}

.input-group input:focus,
.input-group textarea:focus {

    border: 2px solid #38bdf8;

}

.input-group textarea {

    resize: none;

}

.contact-form .btn {

    width: 100%;

    border: none;

    cursor: pointer;

    font-size: 17px;

}

/*=========================
      RESPONSIVE
==========================*/

@media(max-width:992px) {

    .contact-container {

        grid-template-columns: 1fr;

    }

}

@media(max-width:768px) {

    .contact {

        padding: 80px 7%;

    }

    .contact-info,
    .contact-form {

        padding: 30px;

    }

    .contact-info h3 {

        font-size: 26px;

    }

}

@media(max-width:480px) {

    .contact-info,
    .contact-form {

        padding: 20px;

    }

    .info-box {

        flex-direction: column;
        text-align: center;

    }

    .social-links {

        justify-content: center;

    }

}

/*==================================
            FOOTER
===================================*/

.footer {
    background: #020617;
    color: #fff;
    padding: 80px 10% 20px;
}

.footer-container {
    max-width: 1200px;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

/*=====================
    FOOTER BOX
======================*/

.footer-box h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #38bdf8;
}

.footer-box h3 {
    font-size: 22px;
    margin-bottom: 20px;
    color: #fff;
}

.footer-box p {
    color: #cbd5e1;
    line-height: 1.8;
    margin-bottom: 15px;
}

.footer-box ul {
    padding: 0;
}

.footer-box ul li {
    list-style: none;
    margin-bottom: 12px;
}

.footer-box ul li a {
    color: #cbd5e1;
    transition: .3s;
}

.footer-box ul li a:hover {
    color: #38bdf8;
    padding-left: 8px;
}

/*=====================
    SOCIAL ICONS
======================*/

.footer-social {
    display: flex;
    gap: 15px;
    margin-top: 25px;
}

.footer-social a {
    width: 45px;
    height: 45px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    background: #1e293b;

    color: #fff;
    font-size: 18px;

    transition: .4s;
}

.footer-social a:hover {
    background: #38bdf8;
    transform: translateY(-6px);
}

/*=====================
 CONTACT ICON
======================*/

.footer-box p i {
    color: #38bdf8;
    margin-right: 10px;
}

/*=====================
 COPYRIGHT
======================*/

.footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, .1);
    margin-top: 60px;
    padding-top: 20px;
    text-align: center;
}

.footer-bottom p {
    color: #94a3b8;
    font-size: 15px;
}

/*=====================
 RESPONSIVE
======================*/

@media(max-width:992px) {

    .footer-container {

        grid-template-columns: repeat(2, 1fr);

    }

}

@media(max-width:768px) {

    .footer {

        padding: 70px 7% 20px;

    }

    .footer-container {

        grid-template-columns: 1fr;

        gap: 35px;

    }

    .footer-box {

        text-align: center;

    }

    .footer-social {

        justify-content: center;

    }

}

@media(max-width:480px) {

    .footer-box h2 {

        font-size: 28px;

    }

    .footer-box h3 {

        font-size: 20px;

    }

    .footer-bottom p {

        font-size: 14px;

    }

}